.filterBox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-component-gray);
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--bg-component-green);
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 500ms ease;
}

.filterBox:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px var(--bg-component-green);
}

.blockInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 100%;
  background-color: var(--background-white);
  color: var(--text-color);
  font-size: 16px;
  padding: 12px 14px;
  border: 2px solid var(--bg-component-dark-green);
  border-radius: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input:focus {
  border-color: var(--bg-component-green);
  box-shadow: 0 0 8px var(--bg-component-green);
}

.input::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

.sortControls {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sortControls button {
  background-color: var(--bg-component-green);
  border: none;
  color: #fff;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sortControls button:hover {
  background-color: var(--bg-component-dark-green);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.sortControls button:active {
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 481px) {
  .sortControls {
    flex-direction: row;
    gap: 12px;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .filterBox {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }

  .blockInput {
    flex-grow: 1;
    margin-right: 20px;
  }
  .input {
    width: 200px;
  }
  .sortControls {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
