* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background-color: var(--background-white);
  color: var(--text-color);
  transition: background-color 500ms ease, color 500ms ease;
}

#root {
  /* display: flex;
  align-items: center; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

button,
input {
  background: transparent;
  border: none;
}

input:focus {
  outline: none;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container::-webkit-scrollbar {
  display: none;
}

@media (min-width: 481px) {
  .container {
    flex-direction: column;
    max-width: unset;
    width: 481px;
    padding: 32px;
  }
}
@media (min-width: 481px) {
  .container {
    max-width: unset;
    width: 481px;
    padding: 32px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    flex-direction: column;
  }
}
